@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { 
	width: 100%; height:100%; overflow:scroll; 
}

.header {
	color: white;
	text-align: center;
	font-size: 40px;
	padding: 10px;
}

.top {
	position: static;
	bottom: 0 auto;
	height: 50px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
  	color: white;
}

.footer {
	position: static;
	bottom: 0 auto;
	height: 50px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
  	color: white;
}

body {
	height: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	background: #ffffff00;
	color: #fff;
	font-size: 30px;
	text-align:center;
	letter-spacing:1.2px;
	background: -moz-radial-gradient(0% 79%, ellipse cover, rgba(146, 54, 31, 0.281) 20%,rgba(148, 101, 48, 0.575) 57%),-moz-linear-gradient(top,  rgba(204, 158, 73, 0.451) 17%, rgba(184, 136, 48, 0.342) 100%), -moz-linear-gradient(-45deg,  #df5e62ee 18%, #ddc248 100%);
	background: -webkit-radial-gradient(0% 79%, ellipse cover, rgba(146, 54, 31, 0.281) 20%,rgba(148, 101, 48, 0.575) 57%), -webkit-linear-gradient(top,  rgba(204, 158, 73, 0.451) 17%,rgba(184, 136, 48, 0.342) 100%), -webkit-linear-gradient(-45deg,  #df5e62ee 18%,#ddc248 100%);
	background: -o-radial-gradient(0% 79%, ellipse cover, rgba(146, 54, 31, 0.281) 20%,rgba(148, 101, 48, 0.575) 57%), -o-linear-gradient(top,  rgba(204, 158, 73, 0.451) 17%,rgba(184, 136, 48, 0.342) 100%), -o-linear-gradient(-45deg,  #df5e62ee 18%,#ddc248 100%);
	background: -ms-radial-gradient(0% 79%, ellipse cover,rgba(146, 54, 31, 0.281) 20%,rgba(148, 101, 48, 0.575) 57%), -ms-linear-gradient(top,  rgba(204, 158, 73, 0.451) 17%,rgba(184, 136, 48, 0.342) 100%), -ms-linear-gradient(-45deg,  #df5e62ee 18%,#ddc248 100%);
	background: -webkit-radial-gradient(0% 79%, ellipse cover, rgba(146, 54, 31, 0.281) 20%,rgba(148, 101, 48, 0.575) 57%), linear-gradient(to bottom,  rgba(204, 158, 73, 0.451) 17%,rgba(184, 136, 48, 0.342) 100%), linear-gradient(135deg,  #df5e62ee 18%,#ddc248 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#container {
	align-self: center !important;
    position:static;
    width:95%;
    padding: 10px;
    height: 9300px;
    background: rgb(58, 48, 48);
    border-radius: 40px;
    z-index:0;
	margin: 0 auto;
	display: table;
	vertical-align: middle;
	justify-content: center;
}

.center {
    margin: auto;    
}

.container1 {
	float: left;
	height: 650px;
	margin: 40px;
	padding: 10px;
	border: 0;
	align-items: center;
	display: table-cell;
}

.container2 {
	float: right;
	height: 650px;
	margin: 40px;
	padding: 10px;
	border: 0;
	align-items: center;
	display: table-cell;
}

.container3 {
	float: left;
	width : 100%;
	height: 650px;
	margin: 5px;
	align-items: center;
	position: relative;
	padding: 0;
	border: 0;
	display: table-cell;
}

h3 {
	position: static;
  	width: 100%;
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 10px auto;
	padding: 0;
	border: 0;
}


h2 {
	position: static;
  	width: 100%;
	color: white;
	text-align: center;
	margin: 50px auto;
	padding: 0;
	border: 0;
	vertical-align: middle;
}