<!DOCTYPE html>
<html>
    <head>
        <title>
            Prawn Updates
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="top"></div>

        <div id="container">

            <div class = header>
                <h2>NEWS UPDATES</h2>
            </div>

            <div class="container1">
                <h3>Channel News Asia</h3>
                <iframe width="550" height="600" class = "center" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.channelnewsasia.com%2Frssfeeds%2F8395986&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container2">
                <h3>Southern China Morning Post</h3>
                <iframe width="550" height="600" class = "center" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.scmp.com%2Frss%2F91%2Ffeed&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container1">
                <h3>Mothership</h3>
                <iframe width="550" height="600" class="center" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fmothership.sg%2Ffeed%2F&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container2">
                <h3>Today Online</h3>
                <iframe width="550" height="600" class="center" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.todayonline.com%2Fhot-news%2Ffeed&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container1">
                <h3>The Atlantic</h3>
                <iframe width="550" height="600" class="center" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fpolitepol.com%2Ffd%2Fs0oDjbTHXtZE&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container2">
                <h3>CNN</h3>
                <iframe width="550" height="600" class="center" src="https://www.rssdog.com/index.php?url=http%3A%2F%2Frss.cnn.com%2Frss%2Fedition.rss&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>            
            
            <div class="container1">
                <h3>BBC</h3>
                <iframe width="550" height="600" class="center" src="https://www.rssdog.com/index.php?url=http%3A%2F%2Ffeeds.bbci.co.uk%2Fnews%2Fworld%2Frss.xml&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container2">
                <h3>WIRED</h3>
                <iframe width="550" height="600" class="center" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fpolitepol.com%2Ffd%2F28zLEW8U4bd6&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container1">
                <h3>VOX</h3>
                <iframe width="550" height="600" class="rssdog" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.vox.com%2Frss%2Fworld%2Findex.xml&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container2">
                <h3>Washington Post</h3>
                <iframe width="550" height="600" class="rssdog" src="https://www.rssdog.com/index.php?url=http%3A%2F%2Ffeeds.washingtonpost.com%2Frss%2Fworld&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container3">
                <h3>XDA Developers</h3>
                <iframe width="1200" height="600" class="rssdog" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fpolitepol.com%2Ffd%2FhEZ7QIfZfNcw&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container3">
                <h3>MacRumors</h3>
                <iframe width="1200" height="600" src="https://www.rssdog.com/index.php?url=http%3A%2F%2Ffeeds.macrumors.com%2FMacRumors-Front&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container3">
                <h3>Engadget</h3>
                <iframe width="1200" height="600" class="rssdog" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.engadget.com%2Frss.xml&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container3">
                <h3>9to5Mac</h3>
                <iframe width="1200" height="600" src="https://www.rssdog.com/index.php?url=https%3A%2F%2F9to5mac.com%2Ffeed%2F&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container3">
                <h3>Apple Insider</h3>
                <iframe width="1200" height="600" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fappleinsider.com%2Frss%2Fnews&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>
        
            <div class = header>
                <h2>HUMOUR UPDATES</h2>
            </div>

            <div class="container3">
                <h3>Bored Panda</h3>
                <iframe width="1200" height="600" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fpolitepol.com%2Ffd%2FgId0qd6gWNpd&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class = header>
                <h2>YOUTUBE UPDATES</h2>
            </div>

            <div class="container1">
                <h3>EverythingApplePro</h3>
                <iframe width="550" height="600" class="center" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.youtube.com%2Ffeeds%2Fvideos.xml%3Fchannel_id%3DUCj34AOIMl_k1fF7hcBkD_dw&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container2">
                <h3>Brandon Butch</h3>
                <iframe width="550" height="600" class="center" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.youtube.com%2Ffeeds%2Fvideos.xml%3Fchannel_id%3DUCpZy-Hfqcxf-R7nQzlv9Bvw&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container1">
                <h3>Later Clips</h3>
                <iframe width="550" height="600" class="center" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.youtube.com%2Ffeeds%2Fvideos.xml%3Fchannel_id%3DUCtVGGeUqfVHOK4Q6nAwYO3g&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>

            <div class="container2">
                <h3>Late Late Show with James Corden</h3>
                <iframe width="550" height="600" class="center" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.youtube.com%2Ffeeds%2Fvideos.xml%3Fchannel_id%3DUCJ0uqCI0Vqr2Rrt1HseGirg&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&excltitle=1&showdate=1&xmlbtn=1&linktarget=_blank&bordercol=transparent&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>
        </div>

        <div class="footer"></div>

    </body>
</html>
